body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    background-image: url('/public/images/f2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin: 10px auto; /* Center the container horizontally */
    max-width: 800px; /* Set a maximum width for the container if needed */
    text-align: center; /* Center text inside the container */
}

header {
    background-color: #541d6a;
    color: white;
    text-align: center;
    padding: 1.3em;
    background-image: url('/public/images/c1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    animation: slideHeader 4s linear infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Add bottom margin to accommodate the toolbar */
}

.header-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0; /* Remove default margin for h1 */
}

.header-description {
    font-family: 'Cursive', 'Brush Script MT', cursive;
    font-size: 24px;
    margin: 0;
}

.payment-images {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the gap between images as needed */
    margin-bottom: 20px; /* Add bottom margin for spacing */
}

.payment-images img {
    width: 80px;
    border-radius: 8px;
}

.card-view,
.contact-details {
    text-align: center; /* Center text inside card-view and contact-details */
}

.card-view {
    background-color: #541d6a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    box-sizing: border-box;
    color: white;
    margin-bottom: 20px; /* Add bottom margin for spacing */
}

.card-view h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: pink;
}

.contact-details img {
    margin-bottom: 10px; /* Add bottom margin for spacing between icon and text */
}
.contact-details p:last-child {
    font-weight: bold;
}


footer {
    bottom: 0;
    color: white;
    text-align: center;
    background-image: url('/public/images/t3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid white;
}

/* Add your other styles as needed */
